.work-experience {
  font-family: Arial, sans-serif;
  padding: 24px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.work-experience h3 {
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container ul {
  list-style-type: none;
  margin-right: 20px;
}
